/*body, nav, #slide-out, #icon-nav {
    background-color: #181a1b !important;
}*/

.brand-logo img {
    height:48px;
    width:48px;
    margin-top:8px;
    margin-left:8px;
}

.brand-logo {
}

.editor-toolbar, .editor-statusbar {
    background-color: #212121;
    content:initial;
}

.CodeMirror {
    height:64px;
    min-height:auto;
}

#slide-out {
    padding-top:64px;
    margin-left:64px;
    z-index:2;
}

nav {
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    padding-left:20px;
}

main {
    margin-left:128px;
    margin-top:64px;
}

.particles-js-canvas-el {
    position:fixed;
    left:0;
    top:0;
    height:64px !important;
    z-index: -99;
}

#icon-nav {
    width:64px;
    background-color:purple;
    height:100%;
    top:0;
    position:fixed;
    margin-top:64px;
}
