{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form class="col s12" id="post-form" method="POST">
        {% csrf_token %}
        {{ post_form }}
        <div class="row">
            <div class="col m10">
                <i class="material-icons">add_box</i>
            </div>
            <div class="col m2">
                <button type="submit" style="float:right;"><i class="material-icons">send</i></button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s12 m9">
            <h4>Your Timeline:</h4>
            {% for post in timeline %}
                <div class="col s12">
                    {{ post.text }}
                </div>
            {% endfor %}
        </div>
        <div class="col hide-on-small m3">
            <p>123</p>
        </div>
    </div>
</div>

<script>
    $("#post-form").submit(function(e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
               type: "POST",
               url: 'api/submit-user-post-form',
               data: form.serialize(), // serializes the form's elements.
               success: function(data) {
                    // ToDo: Update User Timeline
                    alert('post added successfully!');
               }
        });
    });
</script>

{% endblock %}